body {
    margin: 0px;
    padding: 0px;
}

#canvas {
    height: 280px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    /* height: 175px;
padding: 0 5px; */
}

#drawingLine {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#drawingLine>input {
    min-height: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

#resumeButton {
    display: inline-block;
}